<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblearn.spring_learn.mapper.EmpMapper">
    <!-- 分页查询 -->
    <select id="pageHelperListWithFilter" resultType="com.weblearn.spring_learn.pojo.Emp">
        select * from emp
        <where>
            <if test="name != null">
                name like concat("%", #{name}, "%")
            </if>
            <if test = "gender !=null">
                and gender=#{gender}
            </if>
            <if test = "startTime != null and endTime != null">
                and entrydate between #{startTime} and #{endTime}
            </if>
        </where>
        order by update_time
    </select>
</mapper>